<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>TODO-LIST</title>
</head>
<body id="csstyle" data-preamp="">
	<div style="margin-top: 100px" class="container">
		<h2>TODO LIST</h2>
		
	
	<hr>

        <form action="/add" method = "post">
            <div class="form-group">
                    <label for="formGroupExampleInput">Todo App</label>
                    <input type="text" class="form-control" name = "title" id="formGroupExampleInput" placeholder="Type here..."><br>
                    <button type = "submit" class="btn btn-danger">Submit</button>
            </div>
            <hr>


        </form>
        {% if todos == [] %}
        <div class="alert alert-warning" role="alert">
        	Add Something
        </div>
        {% else %}
        <table>
        	<tbody>
        		{% for todo in todos %}
        		<tr>
        		<th scope="row">{{todo.id}}</th>
        		<td>{{todo.title}}</td>
     
        		<td><a href="/complete/{{todo.id}}" class="btn btn-success">complete</a></td>
        		<td><a href="/delete/{{todo.id}}" class="btn btn-danger">delete</a></td>
        		{% endfor %}
        	</tr>
        	</tbody>
        </table>
        {% endif %}
    </div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>